<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<div class="nav navbar-default">
<!-- <div class="container"> -->
<div class="navbar-header">
	<a href="" class="navbar-brand" style="font-size: 30px;">MY ADMIN</a>
</div>
		<ul style="line-height: 28px;" class="nav navbar-nav-tabs nav-justified">
			<li><a href="/admin/stateadd">STATE</a></li>
			<li><a href="">CITY</a></li>
			<li><a href=""	>CATEGORY</a></li>
			<li><a href="">SUB-CATEGORY</a></li>
			<li><a href="">USERS</a></li>
			<li><a href="">ADS</a></li>
		</ul>
</div>
</div>
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
</body>
</html>