<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add State</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>

	<form action="/admin/stateadd" method="post" class="form-inline" style="margin-top: 25px; margin-left: 15px;" ">
<!-- <label for="">STATEID :</label> <input type="number" class="form-control form-inline" id="id" name="id"> -->
<label for="">STATENAME : </label><input type="text" class="form-control"  id="FIRSTNAME" name="sname">
<label for="">CREATIONDATE : </label><input type="date" class="form-control" id="lname" name="cdate">
<label for="">UPDATIONDATE :</label> <input type="date" class="form-control" id="address" name="udate">

<input type="submit" value="Add Student" class="btn btn-success">

	</form>
	
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
</body>
</html>
<!-- localhost:8080/student/adddata